{% load static %}

<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>
                <li class="sidebar-item {% if active_tab == 'publisher' %}active{% endif %}">
                    <a href="{% url 'dashboards:publishers:index_publishers' %}" class='sidebar-link'>
                        <i class="bi bi-people-fill"></i>
                        <span>Publishers</span>
                    </a>
                </li>
                <ul class="submenu {% if active_tab == 'publisher' %}active{% endif %}">
                    <li class="submenu-item {% if active_sub_tab == 'publisher' %}active{% endif %}">
                        <a href="{% url 'dashboards:publishers:index_publishers' %}">Publishers</a>
                    </li>
                    <li class="submenu-item {% if active_sub_tab == 'site' %}active{% endif %}">
                        <a href="{% url 'dashboards:publishers:index_sites' %}">Sites</a>
                    </li>
                    <li class="submenu-item submenu-item {% if active_sub_tab == 'slot' %}active{% endif %}">
                        <a href="{% url 'dashboards:publishers:index_slots' %}">Slots</a>
                    </li>
                </ul>
                <li class="sidebar-item {% if active_tab == 'advertisement' %}active{% endif %}">
                    <a href="{% url 'dashboards:advertisements:index_advertisement' %}" class='sidebar-link'>
                        <i class="fa fa-shopping-cart fa-sm"></i>
                        <span>Advertisements</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
